{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text">CYBERCRAFT is crafting a world of creativity. Our skilled craftsmen of various areas will make your brain and imaginations compete. Innovative works and astonishing designs from your most trusted craftsmen is now at your fingertips. To create attractive ads and make your business shoot up. To make your tasks done, to manage your ventures by an innovative web application. To manifest your skills, talents, opinions... by an attractive blog. And so and so...</p>
        <a href="http://www.cybercraft.co.in"
           class="btn btn-danger">Explore!</a>
    </div>
</div>
</div>

{% endblock sidebar %}